.bg-naranja{
	background-color: #F05F40;
}

.bg-oscuro{
	background-color: #222222;
}

.text-naranja{
	color: #F05F40;
}

.text-white{
	color: white;
}

.pd-5{
	padding: 5%;
}

.pd-2{
	padding: 2%;
}

hr{
	border: 1.5px #F05F40 solid;
	width: 50px;
}

.servicios i{
	font-size: 55px;
	color: #F05F40;
}

.servicios p{
	color: #777777;
}

.btn-git{
	border-radius: 24px;
    background-color: white;
    padding: 14px 39px;
    font-weight: 600;
    margin-top: 7px;
}

.contact i{
	font-size: 40px;
	margin-top: 20px;
}

.contact p{
	font-size: 18px;
}

.projects img{
	width: 100%;
}

.pd-0{
	padding: 0%;
}

.sombra{
	background-color: rgb(240, 95, 64);
	color:white;
	display: none;
	}

.projects img :hover{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.8rem;
	}

@media (max-width: 600px) {
   .mas {
   		padding: 5% 0%;
  }
  .servicios{
  	padding: 8% 0;
  }

  .servicios i{
  	margin-top: 5%;
  }
}

